<p>http works!</p>

<div><button (click)="get1()">Get1</button></div>
<div><button (click)="get2()">Get2</button></div>
<div><button (click)="get3()">Get3</button></div>
<div><button (click)="post1()">post1</button></div>
<div><button (click)="post1_1()">post1_1</button></div>
<div><button (click)="post1_2()">post1_2</button></div>
<div><button (click)="post2()">post2</button></div>
<div><button (click)="post3()">post3</button></div>

<input id="fileUpload" type="file" accept="image/*" (change)="fileUploadChange($event)">
<div><button (click)="postFile()">postFile</button></div>
